.alert {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f8d7da;
  width: 100%;
  padding: 10px 30px;
  border-radius: 8px;
}

.alert::first-letter {
  text-transform: uppercase;
}

.alert-box {
  position: relative;
  width: 99%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.alert-box span {
  position: absolute;
  font-weight: 600;
  color: #721c24;
  cursor: pointer;
  font-size: 1.1rem;
  right: 8px;
  top: 15px;
}
