.notification-list {
  position: absolute;
  top: 2rem;
  right: 10px;
  max-height: 25rem;
  width: 15rem;
  -webkit-box-shadow: 3px 12px 35px 0px rgba(0, 0, 0, 0.54);
  -moz-box-shadow: 3px 12px 35px 0px rgba(0, 0, 0, 0.54);
  box-shadow: 3px 12px 35px 0px rgba(0, 0, 0, 0.54);
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: 1rem 0 1rem 1rem;
  z-index: 100;
}

.notification-list > div {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  background-color: #ffffff;
  padding: 0.4rem;
}

.notification-item {
  cursor: pointer;
  background-color: #fff;
  position: relative;
  text-align: left;
  display: flex;
  gap: 0.5rem;
  margin: 0;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 3px 12px 35px 0px rgba(79, 76, 76, 0.54);
  opacity: 0;
  transition: 350ms;
  transform: translateX(100px);
}

.notification-item > a > img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.notification-item h2 {
  margin: 0;
  font-size: 0.75rem;
}

.notification-item.show{
  opacity: 1;
  transform: translateX(0);
}

.notification-item p {
  margin: 0;
  width: 90%;
  font-size: 0.65rem;
}

.notification-item p:last-child {
  color: #808080;
  font-size: 0.56rem;
}

.notification-clear {
  position: sticky;
  display: flex;
  bottom: 0;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #808080;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  width: 100%;
  box-shadow: 0px -1px 0px rgb(230, 216, 216);
}

.notification-clear > svg {
  width: 2rem;
  transition: all ease-in-out 0.2s;
}
.notification-clear > svg:hover {
  transform: scale(1.1);
}
