.infoCard {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: var(--cardColor);
  border-radius: 1rem;
  padding: 1rem;
  width: 90%;
}

.infoHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all ease-in-out 0.2s;
}

.infoHead > div:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.lg-button {
  align-self: flex-end;
  width: 7rem;
  height: 2rem;
  margin-top: 5rem;
}
